/* Reset all browser styles */

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 1em;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

a img, :link img, :visited img {
    border: 0;
}

/* Styling starts here */

body {
    background: white;
}

.container {

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    cursor: default;

}

.inner-container {

    display: flex;

}

.svg-container, .input-container {

    height: auto;

    margin: 2rem;
    padding: 1rem;

    border: 2px solid #149414;

}

.word-container {
    width: 60rem;
    min-height: 10rem;
    height: auto;

    margin: 2rem;
    padding: 1rem;

    border: 2px solid #149414;
    color: #149414;
}

.headline {

    margin: 2rem 0;

    font-size: 5rem;
    color: #149414;

}

.canvas-container {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 0 10px 10px;
}

.prediction p {
    font-weight: bold;
    font-size: 87px;
    text-align: center;
    margin: 0;
}

.controls {
    clear: both;
}
