/* Reset all browser styles */

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 1em;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

a img, :link img, :visited img {
    border: 0;
}

/* Styling starts here */

body {
    background: #c07709;
}

.container {

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    cursor: default;

}

.inner-container {
    max-width: 60rem;

    display: flex;

}

.svg-container, .input-container {

    width: 30rem;
    height: auto;

    margin: 2rem;
    padding: 1rem;

    border-radius: 1rem;
    background: white;

}

.word-container {
    width: 60rem;
    min-height: 10rem;
    height: auto;

    margin: 2rem;
    padding: 1rem;

    border-radius: 1rem;
    background: white;
}

.headline {

    margin: 2rem 0;

    font-size: 5rem;
    color: white;

}


